.card {
  margin: auto;
  margin-top: 50px;
  text-align: center;
  width: 50%;
  border-radius: 12px;
  background-color: pink;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  padding-bottom: 30px;
}

.item {
  display: flex;
  height: 50px;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  width: 50%;
  border-radius: 12px;
  background-color: antiquewhite;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.item p {
  margin: auto;
  color: rgb(177, 114, 207);
}

.item span {
  text-align: center;
  color: black;
  line-height: 50px;
  /* display: flex; */
}
